[submodule "javascripts/btapp"]
	path = javascripts/btapp
	url = git://github.com/bittorrenttorque/btapp.git
[submodule "javascripts/backbrace"]
	path = javascripts/backbrace
	url = git://github.com/bittorrenttorque/backbrace.git
[submodule "audio-js"]
	path = audio-js
	url = git://github.com/dz0ny/AudioJS.git
[submodule "javascripts/piecon"]
	path = javascripts/piecon
	url = git://github.com/lipka/piecon.git
[submodule "javascripts/jStorage"]
	path = javascripts/jStorage
	url = git://github.com/andris9/jStorage.git
