    <!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>oneHash</title>
        <!-- collection of general dependencies -->
        <script type="text/javascript" src="javascripts/lib/jquery.js"></script>
        <script type="text/javascript" src="javascripts/lib/json2.js"></script>
        <script type="text/javascript" src="javascripts/lib/underscore.js"></script>
        <script type="text/javascript" src="javascripts/lib/backbone.js"></script>

        <!-- pwmckenna/backbrace submodule -->
        <script type="text/javascript" src="javascripts/backbrace/backbrace.js"></script>
        <!-- pwmckenna/btapp submodule -->
        <script type="text/javascript" src="javascripts/btapp/btapp.js"></script>
        <script type="text/javascript" src="javascripts/btapp/client.btapp.js"></script>
        <script type="text/javascript" src="javascripts/btapp/plugin.btapp.js"></script>
        <script type="text/javascript" src="javascripts/btapp/pairing.btapp.js"></script>
        <!-- pwmckenna/jStorage submodule -->
        <script type="text/javascript" src="javascripts/jStorage/jstorage.min.js"></script>

        <!-- audio support -->
        <link rel="stylesheet" href="audio-js/audio-js.css" type="text/css" media="all" title="Audio JS" charset="utf-8">
        <link rel="stylesheet" href="audio-js/skins/hu.css" type="text/css" media="all" title="Audio JS" charset="utf-8">
        <link rel="stylesheet" href="audio-js/skins/tube.css" type="text/css" media="all" title="Audio JS" charset="utf-8">
        <link rel="stylesheet" href="audio-js/skins/vim.css" type="text/css" media="all" title="Audio JS" charset="utf-8">
        <script src="audio-js/audio.js" type="text/javascript" charset="utf-8"></script>

        <!-- video support -->
        <link href="video-js/video-js.css" rel="stylesheet">
        <script src="video-js/video.js"></script>

        <script type="text/javascript" src="javascripts/application.js"></script>

        <link rel="stylesheet" type="text/css" href="stylesheets/font.css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/application.css" />

        <link rel="icon" 
              type="image/png" 
              href="images/favicon.png">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33355465-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </head>
    <body>
        <a href="https://github.com/bittorrenttorque/onehash.com"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 9999" src="images/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>

    <!-- templates -->
    <script type="text/template" id="torrent_template">
        <div class="torrent_container">
            <img src="images/icon.png" />
            <div>
                <span class="torrent_name"><%= properties.name %><span><br>
                Info Hash: <%= properties.hash %><br>
                Files: <%= properties.file_count %><br>
                Peers: <%= properties.peers_connected %><br>
                Seeds: <%= properties.seeds_connected %><br>
            </div>
        </div>
    </script>
    <script type="text/template" id="video_template">
        <div class="video_container">
            <video id="<%= id %>" class="video-js vjs-default-skin" controls
                preload="auto" width="300" height="200"
                data-setup="{}">
            </video>
            <p class="file_info"><%= name %></p>
        </div>
    </script>

    <script type="text/template" id="audio_template">
        <div class="audio-js-box vim-css">
            <audio class="audio-js" controls preload>
                <source src="<%= url %>">
            </audio>
            <p class="file_info"><%= name %></p>
        </div>
    </script>

    <script type="text/template" id="input_template">
        <form class="well form-inline">
          <input type="text" class="input-large" placeholder="  torrent url /magnet link / info hash">
          <button type="submit" class="btn">Stream</button>
          <span>/</span>
          <button class="btn" id="create">Create Torrent</button>
        </form>
        <p>...or check out our featured content oneHash pages.</p>
        <div id="content">
            <a href="#http://featuredcontent.utorrent.com/torrents/ChesterFrench-BitTorrent.torrent">Chester French</a><br>
            <a href="#http://featuredcontent.utorrent.com/torrents/Kumare-BitTorrent.torrent">Kumare</a><br>
            <a href="#http://featuredcontent.utorrent.com/torrents/CountingCrows-BitTorrent.torrent">Counting Crows</a><br>
            <a href="#http://featuredcontent.utorrent.com/torrents/DeathGrips-BitTorrent.torrent">Death Grips</a><br>
            <a href="#http://featuredcontent.utorrent.com/torrents/BillyVan-BitTorrent-Media-Bundle.torrent">Billy Van</a><br>
            <a href="#http://vodo.net/media/torrents/An.Honest.Man.720p.x264-VODO.torrent">An Honest Man</a><br>
            <a href="#http://vodo.net/media/torrents/L5.Part.1.2012.720p.x264-VODO.torrent">L5 Part 1</a><br>
            <a href="#http://vo.do/media/torrents/Pioneer.One.SEASON1.720p.x264-VODO.torrent">Pioneer Season 1</a><br>
            <a href="#http://apps.bittorrent.com/torrents/PrettyLights-Bittorrent.torrent">Pretty Lights</a><br>
        </div>
    </script>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="" class="brand">
                    <strong>oneHash</strong>
                    <span class="toolbox"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <span>
                    Powered By <a href="http://github.com/bittorrenttorque/btapp/">Btapp.js</a>
                </span>
                <span class="pull-right">
                    Blog: <a href="http://pwmckenna.github.com/2012/06/29/making-of-onehash.html">The Making of OneHash</a>
                </span>
            </div>
        </div>
    </div>
    <div class="container">
    </div>
    </body>
</html>
