body > .container {
    margin-top: 100px;
    margin-bottom: 80px;
    overflow-x: hidden;
}

body > .container .well {
    text-align: center;
}

body > .container .well span {
    padding: 0 20px;
}

.toolbox {
	font-size: 12pt;
}

.file_info {
	color: #E36B23;
}

.vjs-big-play-button {
	background: #00ADEF !important;
}

.vjs-controls {
	margin: 0;
	width: auto !important;
}

.navbar-fixed-top {
	border-bottom: 1px solid #494949;
}
.navbar-fixed-top .navbar-inner {
	background: rgba(23, 35, 34) !important
}

.company {
	font-family: 'Oswald',sans-serif;
	color: #ECE9D7;
}

.navbar-fixed-bottom {
	border-top: 1px solid #494949;
}

.navbar-fixed-bottom .container {
	padding: 10px 0;
}

.navbar-inner {
	background-color: #222;
}

.input-large {
	width: 300px;
}

.torrent_container {
	height: 96px;
	width: auto;
	background-color: #222;
	border-left: 1px solid #111;
	border-top: 1px solid #111;
	border-right: 1px solid #43515F;
	overflow: hidden;
	font-size: 11px;
	font: 14px helvetica,arial,sans-serif;
	color: #AAA;
	z-index: 2001;
}

.torrent_container img {
	height: 80px;
	width: 80px;
	float: left;
	margin: 6px;
	border: 2px solid #414141;
}

.torrent_container div {
	height: 100%;
}

.torrent_name {
	font-size: 48px;
	line-height: 48px;
	margin: 24px;
}

.audio, .video {
	border-top: 1px solid #43515F;
	border-bottom: 1px solid #14171A;
	padding: 15px 0;
}

.audio.last, .video.last {
	border-bottom: 0;
}