.container_background {
	position: relative;
	height: auto;
	width: 100%;
	min-height: 150px;
}

.container {
	width: 750px !important;
}

html, body {
	height: auto;
	overflow-x: hidden;
	min-height: 100%;
	background-color: #F7FDFF;
}

.main {
	margin-top: 41px;
	min-height: 100%;
}

.media.container_background {
	background-color: #F7FDFF;
}

.media.container_background, .input.container {
	padding: 40px 0 40px;
}

.stats.container_background {
	background-image: url(../images/crisp_paper_ruffles.png);
}

.code.container_background {
	background-image: url(../images/carbon_fibre.png);
}

.container_background .icon {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	width: 100px;
	height: 100px;
	background-repeat:no-repeat;
	background-position: center center;
	border-radius: 75px;
	z-index: 2;
}

.media.container_background .icon {
	background-image: url(../images/loading.gif);
	background-size: 64px 64px;
	background-color: white;
	border: 3px solid rgba(150, 150, 150, 0.2);
}

.media.container_background.expanded .icon {
	display: none;
}

.stats.container_background .icon {
	background-image: url(../images/torrent.png);
	border: 3px solid rgba(150, 150, 150, 0.1);
	background-color: rgba(225, 225, 225, 0.8);
	background-size: 60px 60px;
}

.stats.container_background .icon:hover {
	background-color: rgba(226, 244, 252, 1.0);
	border-color: rgba(50, 50, 50, 0.5);
}

.stats.container_background.expanded .icon:hover {
	background-color: rgba(226, 244, 252, 0.2);
	border-color: rgba(50, 50, 50, 0.2);
}

.code.container_background .icon {
	background-image: url(../images/octocat.png);
	border: 3px solid rgba(50, 50, 50, 0.8);
	background-color: rgba(150, 150, 150, 0.8);
	background-size: 80px 80px;
}

.code.container_background.expanded .icon:hover {
	border: 3px solid rgba(50, 50, 50, 0.2);
	background-color: rgba(150, 150, 150, 0.2);
}

.code.container_background.expanded .icon {
	border: 3px solid rgba(225, 225, 225, 0.1);
	background-color: rgba(150, 150, 150, 0.1);
}

.code.container_background .icon:hover {
	background-color: #ddd;
}

.code {
	font-weight: bold;
	 font-family: monospace;
}

.container_background.expanded .icon {
	background-image: none;
	background-color: rgba(150, 150, 150, 0.1);
}

.container_background.collapsed .container {
	display: none;
}

.container_background.collapsed .fork {
	display: none;
}

.shadow {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
}

.media .shadow {
	background-image:-moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0));
	background-image:-ms-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0));
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.25)), to(rgba(226, 244, 252, 0)));
	background-image:-webkit-linear-gradient(bottom, rgba(0,0,0,0.25), rgba(226, 244, 252, 0));
	background-image:-o-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0));
	background-image:linear-gradient(top,rgba(0,0,0,0.25), rgba(0,0,0,0));
	background-repeat:repeat-x;
}

.stats .shadow {
	background-image:-moz-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0));
	background-image:-ms-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0));
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.4)), to(rgba(0,0,0,0)));
	background-image:-webkit-linear-gradient(bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
	background-image:-o-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0));
	background-image:linear-gradient(top,rgba(0,0,0,0.4), rgba(0,0,0,0));
	background-repeat:repeat-x;
}

.code .shadow {
	background-image:-moz-linear-gradient(top, rgba(0,0,0,0.8), rgba(0,0,0,0));
	background-image:-ms-linear-gradient(top, rgba(0,0,0,0.8), rgba(0,0,0,0));
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0)));
	background-image:-webkit-linear-gradient(bottom, rgba(0,0,0,0.8), rgba(0,0,0,0));
	background-image:-o-linear-gradient(top, rgba(0,0,0,0.8), rgba(0,0,0,0));
	background-image:linear-gradient(top,rgba(0,0,0,0.8), rgba(0,0,0,0));
	background-repeat:repeat-x;
}

.torrent_name::before {
	content: "― ";
	font-weight: bold;
	color: #234552;
}
.torrent_name::after {
	content: " ―";
	font-weight: bold;
	color: #234552;
}

.torrent_name {
	color: #234552;
	font-size: 2.7143em;
	line-height: 1.2em;

	font-family: 'Fredericka the Great', cursive;
	font-weight: normal;
}

.icon-folder-open, .icon-remove {
	color: black;
	font-size: 16px;
	z-index: 99s;
}
.icon-folder-open:hover, .icon-remove:hover {
	text-decoration: none;
	color: #777;
}

.addthis_toolbox {
	width: 250px;
	margin: 20px auto;
}

.onehash {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	float: left;
	line-height: 40px;
	font-size: 16px;
}

.onehash:hover{
	color: #3F8DAA;
	text-decoration: none;
}

.navbar-fixed-top {
	position: absolute;
}

.navbar .toolbox {
	float: right;
	line-height: 40px;
}

.navbar .toolbox > span {
	padding: 0 10px;
	font-size: 10px;
}


.input-large {
	width: 400px;
	padding: 10px;
}

.vjs-big-play-button {
	background: #00ADEF !important;
}

.vjs-controls {
	margin: 0;
	width: auto !important;
}


.input.container > div {
	text-align: center;
}
.input.container .form-inline {
    text-align: center;
    margin-top: 30px;
    position:absolute;
    width: 750px;
    top: 50%;
    margin-top: -100px;
}

.input.container .logo {
	font-size: 100px;
	line-height: 100px;
	font-family: 'Fredericka the Great', cursive;
	color: #234552;
}

.well {
	background-color: rgb(235, 235, 235);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.vim-css .vjs-controls > li {
	height: 30px !important;
}
.vim-css .vjs-controls > li.vjs-progress-control, 
.vim-css .vjs-controls > li.vjs-time-control, 
.vim-css .vjs-controls > li.vjs-volume-control {
	margin: 0 !important;
	padding: 5px 0px 5px !important;	
}

.vim-css .vjs-controls > li.vjs-play-control {
	left: 0px !important;
}

.vim-css .vjs-controls > li.vjs-volume-control {
	right: 0px !important;
}

.vim-css .vjs-controls > li.vjs-time-control {
	right: 50px !important;
}

.vim-css .vjs-controls {
	padding-left: 75px!important;
	padding-right: 125px!important;
}

.torrent_container {
	text-align: center;
}

.media_header {
	line-height: 80px;
}

.video .file_info {
	padding-top: 20px;
	margin-bottom: 0px;
}
.file_info {
	font-weight: bold;
}



.container > .wrapper {
	background-color: #EFEFEF;
	margin: 50px 0;
	border: 1px solid #CCC;
	border-radius: 4px;
	padding: 20px;
}

.stats.container > .wrapper > div {
	width: 100%;
	text-align: center;
}

.torrent.prog {
	height: 150px;
	font-weight: normal;
	line-height: 150px;
	font-size: 150px;
}

.files {
	padding-top: 20px;
	position: relative;
}

.file.progress {
	margin: 5px 0;
	line-height: 16px;
	height: 16px;
	background-image: none;
	background-color: #999;
	position: relative;
}

.file.progress .bar {
	background-color: #555;
	background-image: none;
}

.file.progress .text {
	position: absolute;
	width: 100%;
	height: 18px;
	text-align: center;
	top: 0px;
	color: white;
}

#content a {
	font-weight: bold;
	color: black;
}

#content {
	position: absolute;
	bottom: 0px;
	height: 100px;
	text-align: center;
}