body > .container {
    margin-top: 80px;
    margin-bottom: 80px;
    overflow-x: hidden;
}

body > .container .well {
    text-align: center;
    margin-top: 30px;
}

body > .container .well span {
    padding: 0 20px;
}

.navbar-fixed-top {
	position: absolute;
}

.navbar .brand {
	padding-top: 10px;
	padding-bottom: 5px;
}

.navbar .brand:hover {
	position: relative;
	top: 0px;
	left: 0px;
	text-shadow: none;	
}

.brand img {
	width: 36px;
	height: 36px;
	margin-bottom: 8px;
	margin-right: -4px;
}

.toolbox {
	font-size: 12pt;
}

.vjs-big-play-button {
	background: #00ADEF !important;
}

.vjs-controls {
	margin: 0;
	width: auto !important;
}

.navbar-fixed-top {
	border-bottom: 1px solid #494949;
}
.navbar-fixed-top .navbar-inner {
	background: rgba(23, 35, 34) !important
}

.navbar-fixed-bottom {
	border-top: 1px solid #494949;
}

.navbar-fixed-bottom .container {
	padding: 10px 0;
}

.input-large {
	width: 300px;
}

.torrent_container {
	height: 80px;
	width: auto;
	line-height: 60px;
	z-index: 2001;
	text-align: center;
}

.torrent_name {
	font-size: 24px;
}

.audio, .video {
	border-top: 1px solid #43515F;
	border-bottom: 1px solid #14171A;
	padding: 5px 0;
}

.media div:first-child {
	border-top: none;
}

.media div:last-child {
	border-bottom: none;
}

.vim-css .vjs-controls > li {
	height: 30px !important;
}
.vim-css .vjs-controls > li.vjs-progress-control, 
.vim-css .vjs-controls > li.vjs-time-control, 
.vim-css .vjs-controls > li.vjs-volume-control {
	margin: 0 !important;
	padding: 5px 0px 5px !important;	
}

.vim-css .vjs-controls > li.vjs-play-control {
	left: 0px !important;
}

.vim-css .vjs-controls > li.vjs-volume-control {
	right: 0px !important;
}

.vim-css .vjs-controls > li.vjs-time-control {
	right: 50px !important;
}

.vim-css .vjs-controls {
	padding-left: 75px!important;
	padding-right: 125px!important;
}

#facebox {
	color: #1B1B1B;
}

.torrent_container .share {
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
	padding-left: 10px;
}